.battlefield {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(
    180deg,
    #9fb8ad 10%,
    #1fc8db 15%,
    #2cb5e8 10%
  );
}

.anchor {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
}

.anchorTop {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
}
.anchorTop > .hpbox2 > div {
}

.atk {
  width: 53vw;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  height: 33vh;
  border: 5px solid black;
  margin-bottom: 1vh;
  z-index: 1000;
  background-color: white;
  border-radius: 20px;
}

.atk > li {
  width: calc(50% - 20px);
  list-style: none;
  align-self: center;
  border: 1px solid black;
  padding: 20px 0;
  margin: 0 5px;
  margin-left: 10px;
}

.pokemon1 {
  padding: 0px;
  width: 25vw;
  margin-left: 10vw;
}
.pokemon2 {
  padding: 0px;
  width: 25vw;
}

.hpbox {
  border-radius: 20px;
  border: 5px solid black;

  position: fixed;
  margin-left: calc(100% - 500px);
  align-self: center;
  padding-bottom: 100px;
  top: calc(100vh - 53vh);
  background-color: #ffffe5;
  height: 50px;
  padding: 50px;
}
.hpbox > .hpbar {
  margin-left: 100px;
  border-radius: 100px;
}

.hpbox2 {
    border-radius: 20px;

  margin-top: 50px;
  border: 5px solid black;
  margin-left: 10vw;
  background-color: #ffffe5;
  height: 50px;
  padding: 50px;
}
.hpbox2 > .hpbar {
  margin-left: 100px;
  border-radius: 100px;
}

.hpbar {
  width: 200px;
  height: 20px;
  background-color: black;
  border-radius: 100px;
}

.currentHp {
  height: 20px;
  background-color: green;
  border-radius: 100px;
}

.message {
  margin-top: calc(100vh - 19vh);
  min-width: 40vw;
  height: 15vh;
  padding-top: 20px;
  margin-left: 200px;
  margin-right: calc(100vw - 45vw);
  border: 5px solid black;
  border-radius: 20px;
  z-index: 1000;
  background-color: #62aba4;
  justify-content: center;
  text-align: left;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.typewriter {
  padding: 10px ;
  text-align: center;
  font-size: 1.5rem;
  word-wrap: break-word;
  
}


