.grid{
    margin-top: 10vh ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60vw;
    margin-left: 20vw;
    height: 50vh;
    overflow: scroll;

}



.cell{
    border: 1px solid black;
    position: relative;
    width: calc(100% / 10);
    text-align: center;
    padding: 1px;
    margin: 1px;
    box-shadow: 10px solid black, 20px solid rgba(0, 0, 0, 0,15)
}

.cell:hover {
    border: 1px solid blue;
}

button{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.players{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}